@font-face {
    font-family: 'STUNNING-Bd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-2@1.0/STUNNING-Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Global */
:root {
    /*main colors*/
    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-gray);
    --color-accent:var(--color-blue);
    --color-accent-variant:var(--color-orange);
    --color-text: var(--color-white);
    /*color*/
    --color-white: #fff;
    --color-black: #050A13;
    --color-blue:  #03E8F9;
    --color-orange:#FD6413;
    --color-gray:  #1B1E26;

    /*size*/
    --size-max-width: 1200px;
}

* {
    box-sizing: border-box; /*패딩과 보더 포함되게*/
}

body {
    font-family: 'STUNNING-Bd' , sans-serif;
    margin: 0;
}

h1, h2, h3, p, ul { margin: 0;}
ul {list-style: none; padding: 0;} /*리스트 앞에 점 없애기*/
a{ text-decoration: none; color:var(--color-text)} /*밑줄 없애기, 색깔 주기*/

button { background-color: transparent;/*버튼 배경색 없애기*/
border: 0;
outline: 0;} 

button:focus {outline: 1px solid var(--color-accent);}
.section { padding: 4rem; text-align: center;} /*pc: 16*4*/
.max-container {max-width: var(--size-max-width);
margin: auto;}

.title{
    font-size: 2.5rem;
    margin: 1rem 0;
}

.description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

/*header*/
.header {
    background-color: var(--color-primary);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo__img{
    width: 36px;
    height: 36px;
}
.header__logo__title {
    font-size: 1.8rem;
}

.header__menu {
    display: flex;
    gap: 4px;
}

.header__menu__item {
    padding: 8px 16px;
}

.header__menu__item:hover{
    border-bottom: 1px solid var(--color-accent);
}

.header__menu__item.active {
    border: 1px solid var(--color-accent);
    border-radius: 4px;
}